@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  width: 100%;
  background: rgb(29,116,31);
  background: linear-gradient(90deg, rgba(29,116,31,1) 0%, rgba(172,235,144,1) 75%, rgba(227,242,183,1) 100%);
  color: var(--black);
}

:root {
  --verdeOscuro: #1d741f;
  --verdeMedio: #87BA54;
  --verdeCaja: #57b36b;
  --verdeClaro: #aceb90;
  --crema: #e3f2b7;
  --cemento: #D7D7D7;
  --naranjaFuerte: #ef5715;
  --naranjaMedio: #f57c00;
  --naranjaSuave: #ffb74d;
  --tiza: #f6f9f5;
  --gray: #7e7373;
  --black: #000000;
}

.section-container {
  background-color: var(--cemento);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

button {
  background-color: var(--naranjaSuave);
  border: 0px solid black;
  outline: none;
  width: 165px;
  height: 40px;
  color: var(--black);
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button:hover {
  background-color:var(--naranjaFuerte);
  transition: all 0.4s ease-in;
}

/*Header*/

.header-container {
  position: sticky;
  top: 0%;
  background-color: var(--tiza);
  z-index: 9999;
}

.header {
  margin: 0 auto;
  max-width: 1300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 30px;
}

.logo-container a img {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  cursor: pointer;
}


.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navbar i {
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
  /* display: none; */
}

#toggle-menu {
  display: none;
}

.navbar a {
  color: var(--verdeOscuro);
  font-size: 16px;
}

.navbar-list li:last-child > a {
  border: 1px solid black;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 3px;
  transition: all 0.3s linear;
}

.navbar-list li:last-child > a:hover {
  background-color: white;
  color: var(--gray);
  transition: all 0.3s linear;
  font-weight: 700;
}

/* Menú hamburguesa */
.menu-label {
  display: none;
}

/*carrito*/
.cart-icon {
  border: 1px solid var(--verdeOscuro);
  padding: 12px 18px;
  font-weight: 600;
  border-radius: 10px;

  font-size: 14px;
  color: var(--verdeOscuro);
  cursor: pointer;
}

.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: linear-gradient(to top, #b2bfe0, var(--cemento));
  border-left: 1px solid var(--tiza);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: var(--verdeOscuro);
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #2323234e;
  padding: 20px;
  border: 1px solid var(--naranjaFuerte);
  border-radius: 10px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.item-title {
  color: var(--verdeOscuro);
  font-weight: 600;
  font-size: 14px;
}

.item-bid {
  color: var(--black);
  font-weight: 300;
  font-size: 12px;
}

.item-price {
  background: var(--naranjaFuerte);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--verdeOscuro);
  font-weight: 400;
}

.item-quantity {
  color: var(--black);
}

.up, .down {
  border: 2px solid var(--verdeOscuro);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}ries

.cart-total p {
  color: var(--black);
  font-weight: 700;
}

.cart-total span {
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
}

/*Toggle del carro*/
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
  color: var(--gray);
  font-size: 14px;
  font-weight: 500;
}
/* Aca termina codigo copiado */


@media (max-width: 992px) {
  .header {
    padding: 0px 50px 0px 10px;
  }

  .navbar {
    gap: 10px;
  }

  .navbar i {
    display: flex;
  }

  /* .navbar-list {
    position: absolute;
    background-color: var(--cemento);
    border: solid;
    border-color: var(--gray);
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.9s ease-out;
    top: 100px;
    left: 50%;
    width: 50%;
    height: calc(100vh - 100px);
    z-index: 9999;
    display: none;
  } */

  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  .cart-label {
    display: flex;
    cursor: pointer;
  }

}

/*Hero*/

#hero {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 50%;
  gap: 20px;
}

.text-container,
.button-container {
  max-width: max(50%, 650px);
}

.description-container h1 {
  font-weight: 200;
  font-size: 48px;
  font-family: 'Yellowtail', "Special+Elite";
  line-height: 45px;
}

.description-container h2 {
  font-weight: 200;
  font-size: 20px;
  font-family: 'Special Elite', "cursive";
  color: var(--verdeOscuro);
  line-height: 45px;
  padding: 5px 0px 10px;
}

.description-container p {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 0px;
}

.btn_registrarse {
  background-color: var(--verdeOscuro);
  border: 0px solid black;
  outline: none;
  width: 180px;
  height: 40px;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn_registrarse:hover {
  background-color:var(--verdeMedio);
  transition: all 0.4s ease-in;
}


.hero-img {
  background-image: url(./img/Portada_30.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 1 250px;
  height: 400px;
  border-radius: 20px;
}

@media (max-width: 768px) {
 
  .description-container {
    justify-content: center;
    align-items: center;
  }

  .text-container,
  .button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#quienes_somos {
  background-color: var(--verdeMedio);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 15px;
  flex-wrap: wrap;
}

.text-quienes_somos h2 {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  font-family: 'Montserrat', cursive;
  padding: 5px;
  color: var(--tiza);
  line-height: 45px;
}


.text-quienes_somos p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
  color: var(--tiza);
}

/* .divisor {
  width: min(100%, 1300px);
  height: 3px;
  background-color: var(--black);
} */

.divisor {
  margin-top: 20px;
  border: 0.5px solid var(--verdeCaja);
  width: 100%;
}

.card-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  width: 50%;
  min-width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  flex: 1 1 30%;
  gap: 5px;
  box-sizing: border-box;
  background-color: var(--tiza);
  color: var(--black);
}

.img_emprendedor {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 2px;
  padding: 5px;
  margin-top: 1px;
}


.section-title {
  font-weight: 700;
  font-size: 32px;
}

/* Sección Colecciones*/

#colecciones{
  background-color: var(--naranjaSuave);
  background-image: url(./img/Fondo_Naranja.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  gap: max(120px, 10%);
}

.title-container {
  display: flex;
  justify-content: space-around;
  gap: 25%;
  width: 100%;
}

.kits-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.kits-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--grey);
  text-align: center;
  flex: 1 1 200px;
  height: 160px;
  padding-top: 50px;
  position: relative;
}

.kits-cards-img {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 300;
  color: var(--grey);
  background-size: cover;
}

.kits-card:first-child .kits-cards-img {
  background-image: url(./img/coleccion_0a1.png);
}

.kits-card:nth-child(2) .kits-cards-img {
  background-image: url(./img/coleccion_1a3.png);
}
.kits-card:nth-child(3) .kits-cards-img {
  background-image: url(./img/coleccion_3a5.png);
}

.kits-card:nth-child(4) .kits-cards-img {
  background-image: url(./img/coleccion_6a8.png);
}

.kits-card h3 {
  font-weight: 700;
  font-size: 20px;
}

.texto-edad {
  font-size: 15px;
  font-weight: 500;
}

.responsive-btn {
  display: none;
}

.hidden {
  display: none;
}

.disabled {
  background-color: var(--cemento);
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: var(--cemento);
  color: white;
  cursor: not-allowed;
  border: none;
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tiza);
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  text-align: center;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

@media (max-width: 768px) {
  .title-container button {
    display: none;
  }
  .responsive-btn {
    display: block;
  }
}


@media (max-width: 576px) {

}

/* Tienda */

/* Categorias */
.categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.categoria {
  background: var(--verdeCaja);
  border: none;
  padding: 5px 10px;
  color: var(--black);
  border-radius: 10px;
  cursor: pointer;
}

.categoria:hover {
  background-color:var(--verdeMedio);
  border: solid;s
  border-color: var(--black);
  transition: all 0.4s ease-in;
}

.activa {
  background: var(--verdeOscuro);
}

#tienda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 30px 0px;
  width: 90%;
  margin: 0 auto;
}

#tienda h2 {
  text-align: center;
  color: var(--verdeOscuro);
}

.btn-add,
.btn-comprar,
.btn-vaciar {
  cursor: pointer;
  padding: 10px 35px;
  color: var(--tiza);
  border-radius: 10px;
  border: none;
  transition: 0.3s all ease-out;
}

.btn-comprar,
.btn-add {
  background: var(--naranjaMedio);
}

.btn-comprar,
.btn-vaciar {
  width: 100%;
}

.btn-vaciar {
  border: 2px solid var(--naranjaFuerte);
  background-color: transparent;
}

.btn-vaciar:hover {
  background: var(--primary);
  transition: 0.3s all ease-in;
}

.btn-cargar {
  background: none;
  border: 1px solid var(--naranjaMedio);
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  cursor: pointer;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  padding: 0px 20px;
  min-width: 95%;
  max-width: 1200px;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  padding: 20px 0px;
  gap: 20px;
  position: relative;
} 

.producto img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.producto-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 60%;
}

.producto-info-top,
.producto-info-pie {
  margin: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.producto-info-top h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--verdeOscuro);
  max-width: 200px;
}

.producto-info-top h2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  max-width: 200px;
}

.producto-info-medio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.producto-info-top p,
.producto-info-medio p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-gray);
}

.producto-info-pie span {
  color: var(--naranjaFuerte);
  font-weight: 600;
  font-size: 24px;
}

.producto-title {
  font-size: 25px;
  max-width: 200px;
}

.producto-precio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.producto-precio span {
  color: var(--naranjaFuerte);
  font-weight: 800;
  font-size: 30px;
}


/* Información y contacto */
#contacto {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--naranjaSuave);
  font-size: 14px;
  font-weight: bold;
  padding: 30px 10px;
  gap: 20px;
  max-width: 1300px;
}

.info_form_container {
  z-index: 2;
  color: var(--verdeOscuro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  gap: 10px;
  min-width: 320px;
}

.info_contacto_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-radius: 20px;
 
  min-width: 320px; 
}

.card_contacto_container,
.card_informacion_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* flex-wrap: wrap;  */
  gap: 10px;
  width: 100%;
  height: 50%;
  padding: 10px;
}

.card_contacto_container h4,
.card_informacion_container h4 {
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
  transition: all .5s;
}

.info-contacto {
  margin-left: 25px;
}

.info-contacto li {
  margin-bottom: 15px;
}

.form_contacto_container {
  z-index: 2;
  background: var(--tiza);
  color: var(--verdeOscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 500px;
  position: relative;
  border-radius: 38px;
  gap: 20px;
  max-width: 500px;
  min-width: 320px;    
}

.card_informacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.card_informacion a {
  font-size: 14px;
  font-weight: 400;
  color: var(--black)
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  transition: all .5s;
}

.social-media a {
  font-size: 30px;
  color: var(--black);
  gap: 30px;
  transition: all .5s;
}

@media (max-width: 940px) {
.card_contacto_container,
.card_informacion_container {
  gap: 30px;
  width: 90%;
  height: auto;
  padding: 10px; 
}
.info_form_container {
  flex-direction: column;
  height: auto;
}

.info_contacto_container,
.form_contacto_container {
  height: auto;
  min-height: 420px;
}
}

/* footer */

.footer {
  width: 95%;
  background-color: var(--cemento);
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 50px;
  padding: 30px;
}

.footer p {
  font-size: 14px;
  font-weight: bold;
}

.footer-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 14px;
  min-height: 100px;
}

.disabled {
  background-color: var(--cemento);
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: var(--cemento);
  color: white;
  cursor: not-allowed;
  border: none;
}

@media (max-width: 945px) {
  .footer {
    gap: 40px;
  }

  .footer-info {
    align-items: center;
    gap: 20px;
  }

}

.whatsapp {
   font-size: 30px;
   position: sticky;
   left: 90%; bottom: 15px;
   color: #fafafa;
   cursor: pointer;
   background-color: #63dd58;;
   border-radius: 50px;
   padding: 10px;
   border: 2px solid black;
   z-index: 3;
}

.whatsapp:hover {
   background-color: #a5f79e;;
   color: #000000;
   transition: all ease .5s; 
}