@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  width: 100%;
  background: rgb(29,116,31);
  background: linear-gradient(90deg, rgba(29,116,31,1) 0%, rgba(172,235,144,1) 75%, rgba(227,242,183,1) 100%);
  color: var(--black);
}

:root {
  --verdeOscuro: #1d741f;
  --verdeMedio: #87BA54;
  --verdeCaja: #57b36b;
  --verdeClaro: #aceb90;
  --crema: #e3f2b7;
  --cemento: #D7D7D7;
  --naranjaFuerte: #ef5715;
  --naranjaMedio: #f57c00;
  --naranjaSuave: #ffb74d;
  --tiza: #f6f9f5;
  --gray: #7e7373;
  --black: #000000;
}

.section-container {
  background-color: var(--cemento);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

button {
  background-color: var(--naranjaSuave);
  border: 0px solid black;
  outline: none;
  width: 180px;
  height: 40px;
  color: var(--black);
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button:hover {
  background-color:var(--naranjaFuerte);
  transition: all 0.4s ease-in;
}

/*Header*/

.header-container {
  position: sticky;
  top: 0%;
  background-color: var(--tiza);
  z-index: 9999;
}

.header {
  margin: 0 auto;
  max-width: 1300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 30px;
}

.logo-container a img {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  cursor: pointer;
}


.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list {
  gap: 30px;
}

.navbar i {
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
  display: none;
}

#toggle-menu {
  display: none;
}

.navbar a {
  color: var(--verdeOscuro);
  font-size: 16px;
}

.navbar-list li:last-child > a {
  border: 1px solid black;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 3px;
  transition: all 0.3s linear;
}

.navbar-list li:last-child > a:hover {
  background-color: white;
  color: var(--grey);
  transition: all 0.3s linear;
  font-weight: 700;
}

@media (max-width: 992px) {
  .header {
    padding: 0px 50px 0px 10px;
  }

  .navbar i {
    display: flex;
  }

  .navbar-list {
    position: absolute;
    background-color: var(--cemento);
    border: solid;
    border-color: var(--gray);
    border-radius: 20px;
    flex-direction: column;
    transition: all 0.9s ease-out;
    top: 100px;
    left: 50%;
    width: 50%;
    height: calc(100vh - 100px);
    z-index: 9999;
    display: none;
  }

  #toggle-menu:checked + .navbar-list {
    display: flex;
  }
}

/*Hero*/

#hero {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 50%;
  gap: 20px;
}

.text-container,
.button-container {
  max-width: max(50%, 650px);
}

.description-container h1 {
  font-weight: 200;
  font-size: 48px;
  font-family: 'Yellowtail', "Special+Elite";
  line-height: 45px;
}

.description-container h2 {
  font-weight: 200;
  font-size: 20px;
  font-family: 'Special Elite', "cursive";
  color: var(--verdeOscuro);
  line-height: 45px;
  padding: 5px 0px 10px;
}

.description-container p {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 0px;
}

.btn_registrarse {
  background-color: var(--verdeOscuro);
  border: 0px solid black;
  outline: none;
  width: 180px;
  height: 40px;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn_registrarse:hover {
  background-color:var(--verdeMedio);
  transition: all 0.4s ease-in;
}


.hero-img {
  background-image: url(./img/Portada_30.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 1 250px;
  height: 400px;
  border-radius: 20px;
}

@media (max-width: 768px) {
 
  .description-container {
    justify-content: center;
    align-items: center;
  }

  .text-container,
  .button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#quienes_somos {
  background-color: var(--verdeMedio);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 15px;
  flex-wrap: wrap;
}

.text-quienes_somos h2 {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  font-family: 'Montserrat', cursive;
  padding: 5px;
  color: var(--tiza);
  line-height: 45px;
}


.text-quienes_somos p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
  color: var(--tiza);
}

.divisor {
  width: min(100%, 1300px);
  height: 3px;
  background-color: var(--black);
}

.card-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  width: 50%;
  min-width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  flex: 1 1 30%;
  gap: 5px;
  box-sizing: border-box;
  background-color: var(--tiza);
  color: var(--black);
}
/* 
.card_img {
  height: 70%;
  width: 100%;
  max-width: 175px;
  border-radius: 5px;
  overflow: hidden; 

} */

.img_emprendedor {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 2px;
  padding: 5px;
  margin-top: 1px;
}


.section-title {
  font-weight: 700;
  font-size: 32px;
}

.section-caminos-p {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  padding: 5px;
}


/* Sección Colecciones*/

#colecciones{
  background-color: var(--naranjaSuave);
  background-image: url(./img/Fondo_Naranja.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  gap: max(120px, 10%);
}

.title-container {
  display: flex;
  justify-content: space-around;
  gap: 25%;
  width: 100%;
}

.kits-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.kits-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--grey);
  text-align: center;
  flex: 1 1 200px;
  height: 160px;
  padding-top: 50px;
  position: relative;
}

.kits-cards-img {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 300;
  color: var(--grey);
  background-size: cover;
}

.kits-card:first-child .kits-cards-img {
  background-image: url(./img/coleccion_0a1.png);
}

.kits-card:nth-child(2) .kits-cards-img {
  background-image: url(./img/coleccion_1a3.png);
}
.kits-card:nth-child(3) .kits-cards-img {
  background-image: url(./img/coleccion_3a5.png);
}

.kits-card:nth-child(4) .kits-cards-img {
  background-image: url(./img/coleccion_6a8.png);
}

.kits-card h3 {
  font-weight: 700;
  font-size: 20px;
}

.texto-edad {
  font-size: 15px;
  font-weight: 500;
}

.responsive-btn {
  display: none;
}

@media (max-width: 768px) {
  .title-container button {
    display: none;
  }
  .responsive-btn {
    display: block;
  }
}

/* Caminos de lectura */
#caminos-de-lectura {
  flex-direction: column;
  width: 95%;
  gap: 30px;
  background-color: var(--verdeMedio);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.caminos-title-container {
  text-align: center;
  width: 100%;
}

.caminos-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.caminos-card {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px 10px;
  width: 100%;
  height: 25%;
  background-color: var(--verdeCaja);
}

.caminos-card i {
  font-size: 30px;
  display: block;
  gap: 10px;
  padding: 5px;
}

.caminos-descrpcion {
  font-size: 25px;
  font-weight: 600;
}

.caminos-info {
  display: flex;
  flex-direction: column;
}

.texto-caminos {
  font-size: 18px;
  font-weight: 500;
  color: var(--tiza);
}

.caminos-title {
  font-weight: 700;
  text-align: start;
  color: var(--tiza);
}

@media (max-width: 576px) {
  .caminos-card {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 30px 0px;
    text-align: center;
    gap: 15px;
  }
}

/* Tienda */
#tienda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 30px 0px;
  width: 90%;
  margin: 0 auto;
}

#tienda h2 {
  text-align: center;
  color: var(--verdeOscuro);
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  padding: 0px 20px;
  min-width: 95%;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  padding: 20px 0px;
  gap: 20px;
  position: relative;
}


.producto img {
  max-width: 150px;
  border-radius: 20px;
}

.producto-title {
  font-size: 25px;
  max-width: 200px;
}

.producto-precio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.producto-precio span {
  color: var(--naranjaFuerte);
  font-weight: 800;
  font-size: 30px;
}


/* Información y contacto */

#contacto {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--naranjaSuave);
  font-size: 14px;
  font-weight: bold;
  padding: 30px 10px;
  gap: 30px;
  max-width: 1300px;
}

.info_form_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card_informacion_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 45%;
  height: 70vh;
  padding: 10px;
}
.card_informacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* text-align: center; */
    /* flex: 1 1 35%; */
    /* box-sizing: border-box; */
    /* background-color: var(--arena); */
}

.contacto_container {
  width: 45%;
  min-width: 275px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: baseline;
}

@media (max-width: 576px) {
 .card_informacion_container {
  gap: 30px;
  width: 90%;
  height: auto;
  padding: 10px; 
}


.contacto_container {
  width: 90%;
}
/*.caminos-card {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 30px 0px;
    text-align: center;
    gap: 15px; 
  } */
}

/* footer */

.footer {
  width: 95%;
  background-color: var(--cemento);
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 50px;
  padding: 30px;
}

.footer p {
  font-size: 14px;
  font-weight: bold;
}

.footer-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 14px;
  min-height: 100px;
}

@media (max-width: 945px) {
  .footer {
    gap: 40px;
  }

  .footer-info {
    align-items: center;
    gap: 20px;
  }

}

.whatsapp {
   font-size: 30px;
   position: sticky;
   left: 90%; bottom: 15px;
   color: #fafafa;
   cursor: pointer;
   background-color: #63dd58;;
   border-radius: 50px;
   padding: 10px;
   border: 2px solid black;
}

.whatsapp:hover {
   background-color: #a5f79e;;
   color: #000000;
   transition: all ease .5s; 
}